@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: white;
}

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    scroll-snap-align: start;
    background: url('../images/night_back1.png');
    background-size: cover;
    height: 100vh;
    padding: 10px;
}
.secondSection{
    height: auto;
    padding-bottom: 40px;
}
.top_bar {
    height: auto;
    display: flex;
    align-items: center;
}

.searchBar {
    display: flex;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    width: 80%;
}

#searchBox {
    padding: 12px 7px 12px 7px;
    padding-left: 12px;
    background: rgb(10, 73, 136);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    max-width: 420px;
    width: 100%;
}

#searchBox:focus {
    outline: none;
}

#searchIcon {
    position: absolute;
    top: 12px;
    right: 12px;
}

#currentLocation {
    width: 10%;
    background: rgb(10, 73, 136);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    width: 43px;
    height: 43px;
}

::placeholder {
    color: white;
    opacity: 1;
}

/* top section ends here */
.lastUpdated {
    display: flex;
    padding-left: 20px;
    margin-top: 20px;
}

/* main section starts here */
.main_section {
    margin-top: 15px;
    height: 25vh;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_section #temperature {
    font-size: 4.5rem;
    font-weight: 200;
}

.main_section h5 {
    font-weight: 100;
}

.emptySection {
    height: 25vh;
}

.bottom_section {
    height: 36vh;
    max-width: 620px;
    width: 100%;
    overflow-x: auto;
}

.chartContainer {
    width: 1200px;
    height: 36vh;
}


.details {
    background-color: rgba(88, 163, 201, 0.2);
    border-radius: 10px;
    border: none;
    padding: 10px;
    padding-bottom: 0px;
    height: auto;
}
.dailyForecast{
    border: none;
    padding: 10px;
    padding-bottom: 0px;
    height: auto;
}
.dailyForecast .rowContainer {
    /* height: 325px;
    overflow-y: auto; */
}

.contentRow {
    display: flex;
    justify-content: center;
}

.rowContent,
.rowContent2 {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.rowContent2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background:rgba(71, 156, 199, 0.2);
    margin-bottom:5px;
}

.rowContent2:last-of-type {
    border: none;
}

.rowContent h5,
.rowContent2 h5 {
    font-weight: 100;
}

.rowContent2 h5 {
    color: rgba(233, 231, 231, 0.6);

}

.rowContent h6,
.rowContent2 h6 {
    font-weight: 300;
    color: rgba(233, 231, 231, 0.6);
}

.rowContent2 h6 {
    color: white;
    font-size: 12px;
}

.siteFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    background: rgba(88, 163, 201, 0.2);
}
.siteFooter h5{
    text-align: center;
    font-weight: 300;
}
.siteFooter a{
    text-decoration: none;
    color: rgb(11, 11, 36);
    font-weight: 1000;
}
#showBigScreen{
    display: none;
}












.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #242524;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 5px 16px;
    
}
.modal-body p {
    color: black;
}
  

  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: 0px; opacity: 0}
    to {top: 200px; opacity: 1}
  }




@media screen and (min-width:550px){
    body{
        background: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #showBigScreen{
        display: block;
    }
    .contentWrapper{
        display: none;
    }
}
